/*一些公用css*/
body {
    width: 1920px;
    height: 1080px;
    /* background:  rgb(4, 11, 36) url(../img/body_bg.png) no-repeat center; */
    margin: 0;
    padding: 0;
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background:  rgb(4, 11, 36) url(../img/body_bg.png) no-repeat center;
}

.title-font {
    font-size: 40px;
    color: #6dc8f5;
}

.font-blue {
    color: #6dc8f5;
}

.font-yellow {
    color: #f3e432;
}

.font-white {
    color: white;
}

.font-lightgray {
    color: gray;
}

.bg-3-gray {
    background-color: rgba(144, 144, 144, .3)
}

.header {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 190px;
}

.header .header-imgs{
    width: 1920px;
    height: 190px;
}

.header .header-imgs .left-img {
    float: left;
    width: 372px;
    height: 84px;
    margin-left: 344px;
    margin-top: 77px;
}

.header .header-imgs .title {
    float: left;
    width: 525px;
    height: 101px;
    line-height: 101px;
    text-align: center;
    background: url("../img/title_bg.png");
    background-size: 525px 101px;
    background-repeat: no-repeat;
    margin-top: 45px;
}

.header .header-imgs .right-img {
    float: left;
    width: 372px;
    height: 84px;
    margin-top: 77px;
}

.content-col {
    display: flex;
    flex-direction: column;
    margin: 0 79px;
}

.content-row {
    display: flex;
    flex-direction: row;
    margin: 0 79px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* App 主页css*/
.upper { 
    display: flex;
    flex-direction: row;
    height: auto;
}

.lower { 
    display: flex;
    flex-direction: row;
    height: auto;
}

.block-header {
    width: auto;
    height: 50px;
    border-bottom: 5px solid #6dc8f5;
    margin: 0 5%;
}

.block-header h4 {
    float: right;
}

.block-683-348 {
    width: 683px;
    height: 348px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 683px 348px;
}

.block-878-324 {
    width: 878px;
    height: 324px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 878px 324px;
}

.block-683-448 {
    width: 683px;
    height: 448px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 683px 448px;
}

.block-1045-489 {
    width: 1045px;
    height: 489px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 1045px 489px;
}

.block-175-324 {
    width: 175px;
    height: 324px;
}

.block-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

.table {
    width: 90%;
    margin: 2% 5%;
}

.sign {
    width: 100%;
    height: 100%;
}

.sign-title {
    width: 100%;
    height: 33%;
}

.sign-title p{
    font-size: 17px;
    margin-top: -80px;
    margin-left: 20px;
}

.sign-title b{
    font-size: 35px;
    margin-top: -85px;
    margin-left: 25px;
}

.pos-fixed-79-198 {
    display: fixed;
    left: 79px;
    top: 198px;
}

.pos-fixed-786-191 {
    display: fixed;
    left: 786px;
    top: 191px;
}

.pos-fixed-79-579 {
    display: fixed;
    left: 79px;
    top: 579px;
}

.pos-fixed-794-537 {
    display: fixed;
    left: 794px;
    top: 537px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*微信主页css*/

.block-507-840 {
    width: 507px;
    height: 840px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 507px 840px;
} 

.pos-fixed-84-171 {
    display: fixed;
    left: 84px;
    top: 171px;
}

.news {
    width: 85%;
    margin: 0 5%;
}

.block-695-100 {
    width: 695px;
    height: 100px;
} 

.pos-fixed-84-171 {
    display: fixed;
    left: 619px;
    top: 171px;
}

.block-683-316 {
    width: 683px;
    height: 316px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 683px 316px;
} 

.pos-fixed-620-296 {
    display: fixed;
    left: 620px;
    top: 296px;
}
.block-683-394 {
    width: 683px;
    height: 394px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 683px 394px;
}

.pos-fixed-620-634 {
    display: fixed;
    left: 620px;
    top: 634px;
}

.block-507-317 {
    width: 507px;
    height: 317px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 507px 317px;
}

.pos-fixed-1330-172 {
    display: fixed;
    left: 1330px;
    top: 172px;
}

.block-507-507 {
    width: 507px;
    height: 507px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 507px 507px;
}

.pos-fixed-1330-519 {
    display: fixed;
    left: 1330px;
    top: 519px;
}

/*微博主页*/

.pos-fixed-84-519 {
    display: fixed;
    left: 84px;
    top: 519px;
}

.pos-fixed-620-709 {
    display: fixed;
    left: 620px;
    top: 709px;
}

.pos-fixed-620-172 {
    display: fixed;
    left: 620px;
    top: 172px;
}

.block-683-98 {
    width: 683px;
    height: 98px;
}

.block-507-854 {
    width: 507px;
    height: 854px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 507px 854px;
}

/*网站*/
.block-645-327 {
    width: 645px;
    height: 327px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 645px 327px;
}

.pos-fixed-773-170 {
    display: fixed;
    left: 773px;
    top: 170px;
}

.block-267-500{
    width: 267px;
    height: 500px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 267px 500px;
}

.pos-fixed-87-525 {
    display: fixed;
    left: 87px;
    top: 525px;
}

.block-560-500 {
    width: 560px;
    height: 500px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 560px 500px;
} 

.pos-fixed-377-525 {
    display: fixed;
    left: 377px;
    top: 525px;
}

.block-871-860 {
    width: 871px;
    height: 860px;
    background: url("../img/section_bg.png") no-repeat;
    background-size: 871px 860px;
}

.pos-fixed-977-165 {
    display: fixed;
    left: 977px;
    top: 165px;
}
